/**
 * Primary Color: #212529;
 * Primary Hover Color: #495057;
 */
@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "IBMPlexSansKR-Regular";
  color: #212529;
}

header {
  height: 50px;
  padding: 5px 10px;
}

header .header-group {
  height: 100%;
  display: flex;
  align-items: center;
}

header .header-group__left {
  float: left;
}

header .header-group__right {
  float: right;
}

header .header-group .logo {
  color: #212529;
  text-decoration: none;
  font-weight: 800;
  font-size: 26px;
}

header .header-group .button {
  margin-left: 5px;
  border-radius: 20px;
  height: 30px;
  width: 70px;
}

header .header-group .button.dark {
  background: #212529;
  color: white;
}

header .header-group .button.dark:hover {
  background: #495057;
}

.button {
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  cursor: pointer;
}

.button:hover {
  color: #495057;
}
