<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}나만의 블로그{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'common.css' %}">
</head>

<body>
  <header>
    <div class="header-group header-group__left">
      <a class="logo" href="/">MYBLOG</a>
    </div>
    <div class="header-group header-group__right">
      <button type="button" class="button btn-search">검색</button>
      <button type="button" class="button dark btn-signin">로그인</button>
    </div>
  </header>
  {% block content %}
  {% endblock %}
</body>

</html>